doctype html
html(lang="en")
	head
		title ShutterShowcase Home
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="../styles.css")
		link(rel="icon" type="image/x-icon" href="../favicon.ico")
	body(style="background-color: black")
		div#homeHeader
			a.homeHeaderLink(href="/home") Home
			|
			a.homeHeaderLink(href="/artists") Photographers
			|
			a.homeHeaderLink(href='/browse') Browse
			|
			a.homeHeaderLink(href="/myprofile") My Profile
			|
			a.homeHeaderLink(href="/logout") Log Out
		br
		div#videoContainer 
			video#logoVideo(autoplay muted)
				source(src="../ShutterShowcaseLogo.mp4" type="video/mp4")
		div.slideshow-container
			div.mySlides.slide
				img.slideImage(src='https://drive.google.com/uc?id=1Dv_446DDItvXWX6iYF7d05FdbJtmHkWC')
			div.mySlides.slide
				img.slideImage(src='https://drive.google.com/uc?id=1DyQJKzVylTwro7p5jsnpSOIVrBefOhVU')
			div.mySlides.slide
				img.slideImage(src='https://drive.google.com/uc?id=1BpWM7o_ZWNGZcif2YUvETvXphyAb4cIY')
			div.mySlides.slide
				img.slideImage(src='https://drive.google.com/uc?id=1g2Ka1hax7s9ln6Qq6ecQgFhHVLsivGT9')
			div.mySlides.slide
				img.slideImage(src='https://drive.google.com/uc?id=1015ro86RHh4vmjV3ZgPsltbspamK2tY4')
			a.prevSlide(onclick='plusSlides(-1)') &#x276E;
			a.nextSlide(onclick='plusSlides(1)') &#x276F;
			br
		div(style='text-align:center')
			span.dot(onclick='currentSlide(1)')
			span.dot(onclick='currentSlide(2)')
			span.dot(onclick='currentSlide(3)')
			span.dot(onclick='currentSlide(4)')
			span.dot(onclick='currentSlide(5)')
	script(src="../../home.js")
