div#header
	img#headerLogo(src="../../ShutterShowcaseLogo.png")
	a.headerLink(href="/home") Home
	|
	a.headerLink(href="/artists") Photographers
	|
	a.headerLink(href='/browse') Browse
	|
	a.headerLink(href="/myprofile") My Profile
	|
	a.headerLink(href="/logout") Log Out
	select#themeSelect
		option(selected disabled) Theme
		option Cute 
		option Dark
br